:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --dark-color: #000000;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
}
body {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
.logo,
.navigation-link,
.contact-link,
.footer-logo,
.footer-contact-link {
  text-decoration: none;
  font-family: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--dark-color);
}
.logo-part {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color);
}
.navigation-link:hover,
.contact-link:hover,
.navigation-link:focus,
.contact-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.hero {
  background-color: var(--dark-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  color: var(--light-color);
}
.hero-btn {
  color: var(--light-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--dark-color);
  background-color: var(--light-bg-color);
}
.filter-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
  background-color: var(--light-bg-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.about-title {
  font-size: 14px;
  line-height: 1.14;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-member-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}
.footer {
  background-color: var(--dark-bg-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.footer-logo-part {
  color: var(--light-color);
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-color);
}
.footer-contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address:hover,
.footer-contact-link:hover,
.footer-address:focus,
.footer-contact-link:focus {
  color: var(--accent-color);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.item-title {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-color);
}
.project-link {
  text-decoration: none;
}
.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}

/* Візуальне приховування */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
